.SectionSchedule {
    display: flex;
}

.DayBox {
    width: 13rem;
    height: 100vh;
    background-color: #81d4fa;
    margin: 0;
    padding: 0;
    padding-bottom: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BtnDay {
    border: none;
    text-transform: uppercase;
    width: 10rem;
    height: 10rem;
    text-align: center;
    background-color: #ff7043;
    color: white;
    /* background-image: url(../../img/photo_2021-03-05_22-03-25.jpg); */
    background-size: cover;
    transition: 0.5s;
    margin: 1rem;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

.BtnDay:last-child {
    margin: 0;
}

.BtnDay:focus {
    background-color: #ffee58;
}

.LogoBox {
    margin: 3.5rem 0 3rem 0;
    text-align: center;
}

.logo-text {
    font-size: 2rem;
}

.logo-text--big {
    font-size: 3rem;
}

/* ======= DayContent ======= */
.DayContent {
    width: 80rem;
    height: 50rem;
    margin: 0 auto;
    margin: 5rem 0 0 5rem;
}

.Day {
    font-size: 4rem;
    font-weight: 300;
}

.LessonsBox {
    padding: 0;
    list-style: none;
    width: 50rem;
}

.LessonItem {
    align-items: center;
    background-color: #f9d57f;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.LessonItem:last-child {
    margin: 0;
}

.LessonItem:hover {
    background-color: #ffee58;
}

.LessonUrl {
    padding-left: 2.5rem;
    text-decoration: none;
    color: initial;
    font-size: 2rem;
    width: 42rem;
    cursor: pointer;
}

.TimeBoxLesson {
    margin: auto 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 6.6rem;
    width: 8rem;
    padding: 12px 5px;
    background-color: #ff9800;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
}
