.logo-box {
    line-height: 3rem;
    margin: 2.5rem 0;
}

.logo-text {
    font-size: 3.3rem;
}

.logo-text--big {
    font-size: 3.8rem;
}

.day-box {
    width: 15rem;
    height: 100vh;
    background-color: #81d4fa;
    margin: 0;
    padding: 0;
    padding-bottom: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.day-box__container {
    text-transform: uppercase;
    width: 10rem;
    height: 10rem;
    padding: 10px;
    text-align: center;
    background-color: #ff7043;
    transition: 0.5s;
}

.day-box__container:hover {
    background-color: #ffee58;
    color: #81d4fa;
    transition: 0.5s;
}

.day-box__item {
    font-size: 3rem;
    margin: 20px 0;
}
